services:
  zookeeper:
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    restart: always
    ports:
      - "2181:2181"

  kafka:
    container_name: kafka
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    restart: always
    ports:
      - "9092:9092"

  kafka-ui:
    container_name: kafka-ui
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:29092
      KAFKA_CLUSTERS_0_ZOOKEEPER: zookeeper:2181
    restart: always
    ports:
      - "8080:8080"

  data-publisher-api:
    container_name: data-publisher-api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
      - KAFKA_BOOTSTRAP_SERVERS=kafka:29092
      - IS_LOCAL_DEVELOPMENT=true
      - ELASTICSEARCH_URL=http://elasticsearch:9200
      - ELASTICSEARCH_TOKEN=dummy-token-A
      - Caching__Redis__ConnectionString=redis:6379
    restart: always
    depends_on:
      - kafka
      - elasticsearch
      - redis
    ports:
      - "5129:8080"

  data-responder-api:
    container_name: data-responder-api
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
      - KAFKA_BOOTSTRAP_SERVERS=kafka:29092
      - IS_LOCAL_DEVELOPMENT=true
      - ELASTICSEARCH_URL=http://elasticsearch:9200
      - ELASTICSEARCH_TOKEN=dummy-token-B
      - Caching__Redis__ConnectionString=redis:6379
    restart: always
    depends_on:
      - kafka
      - elasticsearch
      - redis
    ports:
      - "5240:8080"

  elasticsearch:
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - "9200:9200"
      - "9300:9300"
    restart: always

  kibana:
    container_name: kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - "5601:5601"
    restart: always
  
  redis:
    container_name: redis
    ports:
      - "6379:6379"
    restart: always